
img, a {outline:none}

body{
    margin-top: 0px;
    padding: 0px;
    margin: 0px;
    background-color: #F8ECDE;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='3000' height='360' preserveAspectRatio='none' viewBox='0 0 3000 360'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1059%26quot%3b)' fill='none'%3e%3cpath d='M 0%2c88 C 150%2c106.2 450%2c195.6 750%2c179 C 1050%2c162.4 1200%2c8.4 1500%2c5 C 1800%2c1.6 1950%2c146.8 2250%2c162 C 2550%2c177.2 2850%2c97.2 3000%2c81L3000 360L0 360z' fill='rgba(211%2c 219%2c 209%2c 0.35)'%3e%3c/path%3e%3cpath d='M 0%2c283 C 200%2c263.6 600%2c179.8 1000%2c186 C 1400%2c192.2 1600%2c304.6 2000%2c314 C 2400%2c323.4 2800%2c249.2 3000%2c233L3000 360L0 360z' fill='rgba(197%2c 208%2c 193%2c 0.48)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1059'%3e%3crect width='3000' height='360' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: repeat-x;
    background-attachment: scroll;
    background-position: calc(100%-10vh);
    background-size: 100% 100%;
}

#pg1 { display:none; }
#pg2 { display:none; }
#pg3 { display:none; }
#fader{
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #111;
  opacity: 0;
  transition: opacity 0.2s;
  z-index: 199;
  top: 0px;
}
#header{
    width: 100%;
    height: 10vh;
    background: #494546;
    box-shadow: 0px 2px 5px gray;
    display: inline-flex;
    order: 2;
    position: fixed;
    top: 0px;
    z-index: 200;
}
#swoosh{
    height: 10vh;
    width: 10vh;
    background-image: url(../img/image.png);
    background-repeat: no-repeat;
    background-size: 10vh;
    flex: 1;
    margin-left: 15px;

}
#menu{
    width: 400px;
    flex: 1;
    display: inline-flex;
    color: #f7f7f7;
    align-self: right;
    justify-content: space-between;
    margin-right: 15px;
}
.item{
    flex: 1;
    border-width: 0px 1px;
    line-height: 10vh;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.2vh;
    transition: background-color 0.3s;
    cursor: pointer;
}
.item:hover{
    background-color: rgb(51, 51, 51);
    transition: background-color 0.3s;
}
#nav-icon1{
    display:none;
}
@media only screen and (max-width: 980px){
    #menu{
        display:none;
    }
    #nav-icon1{
        display: inline-flex;
    }
	#wrapper{
		font-size: 2em !important;
    width: 90% !important;
	}
  #pt1{
    font-size: 1.1em !important;
    line-height: 2.5vh !important;
  }
  #color{
    width: 6em !important;
    height: 4em !important;
  }
  #size{
    width: 16em !important;
  }
  #newCanvas{
    width: 80% !important;
  }
  #size{
    width: 40% !important;
    scale: 1.4;
    margin-left: 75px;
  }
}

/* Icon 1 */

#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
    width: 6vh;
    height: 5vh;
    position: relative;
    margin-top: 2.5vh;
    margin-right: 15px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    
  }
  
  #nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
    display: block;
    position: absolute;
    height: 1.1vh;
    width: 100%;
    background: #ffffff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  
  #nav-icon1 span:nth-child(1) {
    top: 0px;
  }
  
  #nav-icon1 span:nth-child(2) {
    top: 1.8vh;
  }
  
  #nav-icon1 span:nth-child(3) {
    top: 3.6vh;
  }
  
  #nav-icon1.open span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  
  #nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }
  
  #nav-icon1.open span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
   /* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 200; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #423d3e; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3.2vh;
    color: #f7f7f7;
    display: block;
    transition: 0.3s;
    text-decoration: none;
    line-height: 5vh;
    
    text-align: right;
    margin-right: 15px;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
    background-color: rgb(51, 51, 51);
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    
    top: 0;
    font-size: 6vh;
    border: 0px;
    margin-right: 100%;
    line-height: 10vh;
    text-anchor: middle;
  }
  .sidenav .closebtn:hover{
    
    background-color: #111;
  }

  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 3.2vh;}
  } 

#wrapper{
  background-color: #ffffff;
  height: 100vh;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 1px 2px 5px gray;
  margin-top: 11vh;
  border-radius: 15px;
  padding: 2vh;
  color: #494546;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1em;
  transition: font-size 0.5s;
  
  
}
@media only screen and (max-width: 1440px){
  #wrapper{
    padding: 2vh;
  }
}
#wrapper h1{
  color: #E8866C;
  margin-top: -0.6vh;
}

#footer{
  margin-top: 1vh;
  background-color: #494546;
  width: 100%;
  box-shadow: 1px -2px 5px gray;
  height: 10vh;
  position: relative;
  z-index: 2;
}

#color{
  height: 3em;
  width: 4em;
}
#size{
  width: 12em;
  
}

#newCanvas{
  
  
  width: 40%;
  
  border: 2px #cecdcd solid;
  
  border-radius: 15px;
}
#newCanvas2{
  
  
  width: 40%;
  
  border: 2px #cecdcd solid;
  
  border-radius: 15px;
}



#svg{
  z-index: 1;
  opacity: 85%;
  margin-left: 13.5vh;
  margin-top: 9vh;
}

#imgshrt{
  height: 48vh;
  width: 40vh;
  background-image: url(../img/mask2.png);
  background-repeat: no-repeat;
  background-size: 40vh;
  z-index: 5;
  border: 2px #cecdcd solid;
  border-radius: 15px;
  position: absolute;
  z-index: 0;
}

#imgshrt2{
  height: 50vh;
  width: 40vh;
  background-image: url(../img/mask.png);
  background-repeat: no-repeat;
  background-size: 40vh;
  z-index: 6;
  border: 2px #cecdcd solid;
  border-radius: 15px;
  z-index: 0;
}

#imgpng{
  margin-left: 20vh;
  margin-top: 8vh;
  height: 10vh;
  width: 20vh;
  background-image: url(../img/nike.png);
  background-repeat: no-repeat;
  background-size: 10vh;
  z-index: 5;
  position: absolute;
}

#footer{
  color: #b8b8b8;
  display: inline-flex;
  bottom: 0;
  line-height: 5vh;
  
}
#pt1{
  flex: 2;
  margin-left: 2vh;
  margin-top: 5vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#pt2{
  flex: 0.5;
}
#pt3{
  flex: 2;
  display: flexbox;
  
  
}

#facebook{
  background-image: url(../img/facebook_dim.png);
  background-size: 3vh;
  background-repeat: no-repeat;
  flex: 25%;
  width: 3vh;
  height: 3vh;
  margin-top: 5vh;
  
  float: right;
  margin-right: 1vh;

}
#twitter{
  background-image: url(../img/twitter_dim.png);
  background-size: 3vh;
  background-repeat: no-repeat;
  flex: 25%;
  
  width: 3vh;
  height: 3vh;
  margin-top: 5vh;
  float: right;
  margin-right: 1vh;
}
#linkedin{
  background-image: url(../img/linkedin_dim.png);
  background-size: 3vh;
  background-repeat: no-repeat;
  flex: 25%;
  
  width: 3vh;
  height: 3vh;
  margin-top: 5vh;
  float: right;
  margin-right: 1vh;
}
#instagram{
  background-image: url(../img/instagram_dim.png);
  background-size: 3vh;
  background-repeat: no-repeat;
  flex: 25%;
  
  width: 3vh;
  height: 3vh;
  margin-top: 5vh;
  transition: 0.5s;
  float: right;
  margin-right: 1vh;
}

#facebook:hover{
  background-image: url(../img/facebook.png);
  scale: 1.05;
  transition: 0.5s;
}

#twitter:hover{
  background-image: url(../img/twitter.png);
  scale: 1.05;
  transition: 0.5s;
}

#instagram:hover{
  background-image: url(../img/instagram.png);
  scale: 1.05;
  transition: 0.5s;
}

#linkedin:hover{
  background-image: url(../img/linkedin.png);
  scale: 1.05;
  transition: 0.5s;
}

#stuff{
  display: inline-flex;
}