body{
    margin-top: 0px;
    padding: 0px;
    margin: 0px;
}
#header{
    width: 100%;
    height: 10vh;
    background: #000;
    box-shadow: 0px 2px 5px gray;
    display: inline-flex;
    order: 2;
    
}
#img{
    height: 100px;
    width: 100px;
    background-image: url(img/image.png);
    background-repeat: no-repeat;
    background-size: 100px;
    flex: 1;
    margin-left: 15px;
}
#menu{
    width: 400px;
    flex: 1;
    display: inline-flex;
    color: white;
    align-self: right;
    justify-content: space-between;
    margin-right: 15px;
}
.item{
    flex: 1;
    border-width: 0px 1px;
    border-color: rgb(34, 34, 34);
    border-style: solid;
    line-height: 10vh;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.2em;
    transition: background-color 0.3s;
}
.item:hover{
    background-color: rgb(34, 34, 34);
    transition: background-color 0.3s;
}
.hamburger--spring{
    display:none;
}
@media only screen and (max-width: 980px) {
    #menu{
        display:none;
    }
    .hamburger--spring{
        display: inline-flex;
        background-color: black;
        align-items: center;
        margin-right:15px;
        
    }
}